@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
body{
  min-height: 100vh;
  background-color: #F4F5FA;

}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background:rgba(77, 23, 23, 0.9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto; 
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }
nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background:rgba(77, 23, 23, 0.9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background:rgb(43, 43, 43);
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: rgba(77, 23, 23, 0.9);
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: rgba(77, 23, 23, 0.9);
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}


/* style page utama */
/* main container */
.main-container{
    max-width: 1250px;
    background-color:#fff;
    margin: 5rem auto;
    border-radius: 10px;
    padding: 8px;
}
/* body page */
.body-page{
  padding: 10px;
}


/* saya menggunakan flexbox */
.flex-box{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.card{
   background: #FFF;
   width: 250px;
   margin: 20px;
   box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.322);
   box-sizing: border-box;
   padding: 20px;
   border-radius: 5px;
}

.img{
   height: 200px;
   width: 100%;
   background: url('../images/1.jpg');
   border-radius: 5px;
   background-size: cover;
}

.detail-button{
   padding: 10px;
   width: 100%;
   display: block;
   text-align: center;
   background: #333EFF20;
   box-sizing: border-box;
   border-radius: 4px;
   color: #333eFF;
   text-decoration: none;
   font-size: 15px;
}
/* detail style  */
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
.product-image{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background:rgb(95, 20, 20);
}
.purchase-info .btn:hover{
    opacity: 0.9;
}

@media screen and (min-width: 992px){
    .card-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}









 /* kategori style */
 .wrapper-category{
  display: grid;
  margin: 30px auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 
}
@media (max-width: 700px) {
  .wrapper-category{
    margin: 20px auto;
  }
}
.wrapper-category .box{
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}
.wrapper-category .box .text-face{
  background: #214153;
  color: #ffffff;
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(6, 62, 182, 0.1);
  transition: all 0.5s ease;
  cursor:pointer;
  text-align: center;
  border-radius: 10px;
}
.box .text-face .icon{
  height: 80px;
}
.box .text-face .icon i{
  font-size: 65px;
}
.box .text-face span{
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .text-face:hover{
  background-color: #0e1b22d5 ;
}
 
.container-tentang{
  padding:10px;
  font-weight: 100;
}
.container-list{
  margin-top: 5px;
  margin-bottom: 5px;
}
/* footer style */
footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-decoration: none;
    color: #ffff;
}

.footer-custom {
    padding: 20px 0;
    background-color:rgb(77, 23, 23);
}

.footer-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-section {
    display: grid;
    grid-template-columns: 1fr;
}

.footer-content {
    padding: 0 10px;
}

.footer-about {
    margin-bottom: 1rem;
}
.footer-about .about-script{
    color:#ffff;
}
.footer-about .footer-logo{
    color: #fff;
}
.social-item {
    display: inline-block;
}

.social-item:not(:last-child) {
    margin-right: .5rem;
}

.social-item a {
    width: 50px;
    height: 50px;
    color: #FFF;
    border-radius: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

footer h4 {
    position: relative;
    line-height: 1;
    padding-bottom: 5px;
    font-size: 24px;
    margin: 5px 0 5px 0;
    color: #FFF;
}


.footer-nav li a {
    color: #FFF;
    line-height: 2rem;
    font-size: 18px;
}

.footer-contact li {
    display: flex;
    align-items: start;
    line-height: 2rem;
    font-weight: 400;
}

.footer-contact li i {
    margin-top: 5px;
    font-size: 24px;
    color: #FFF;
    margin-right: 10px;
}

.footer-contact li span {
    font-size: 18px;
}

.footer-copyright {
    background-color: #1a1a1a;
}

.copyright {
    padding: 1rem 0;
    text-align: center;
}

/* Responsive footer */

@media (min-width:992px) {

    .footer-section {
        grid-template-columns: 2fr 1fr ;
    }
}





